<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Confirmação de Email</title>
</head>
<body>
  <h1>Bem-vindo(a) ao Você na Facul, {{name}}!</h1>
  <p>Obrigado por se cadastrar em nossa plataforma. Para confirmar seu email, clique no link abaixo:</p>
  <a href="{{confirmeEmailUrl}}">Confirmar Email</a>
</body>
</html>