name: vCnafacul
on:
  pull_request: 
    branches: ["develop"]
    types: [opened, synchronize, reopened, closed]

jobs:
  CI:
    if: github.event_name == 'pull_request' && (github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.action == 'reopened')
    runs-on: ubuntu-latest
    services:
      mysql:
        image: mysql:8.0
        ports:
          - 3307:3306
        env:
          MYSQL_ROOT_PASSWORD: 123456
          MYSQL_DATABASE: vcnafacul
    steps:
      - name: Docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin
      - uses: actions/checkout@v3
      - name: Iniciando CI
        run: echo "Iniciando CI"
      - uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - name: Install sharp depend
        run: yarn add sharp --ignore-engines 
      - name: Install depends
        run: yarn
      - name: Build app vCnafacul
        run: yarn build
      - name: Install Dotenv-cli
        run: npm install -g dotenv-cli
      - name: Run Migrations
        run: dotenv -e ./test/.env.test -- yarn typeorm migration:run
      - name: Run tests
        run: dotenv -e ./test/.env.test -- yarn test:cov --detectOpenHandles
  PUSH:
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Iniciando CI
        run: echo "Iniciando PUSH"
      - uses: actions/setup-node@v1
        with:
          node-version: 20.x
      - name: Install sharp depend
        run: yarn add sharp --ignore-engines 
      - name: Install depends
        run: yarn
      - name: Build app vCnafacul
        run: yarn build
      - name: Build Image
        run: docker build -t vcnafacul -f node.dockerfile .
      - name: docker tags
        run: docker tag vcnafacul vcnafacul/api:latest
      - name: docker login
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Image Push
        run: docker push vcnafacul/api:latest
  DEPLOY_HOMOL:
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true && github.base_ref == 'develop'
    needs: PUSH
    runs-on: ubuntu-latest
    steps:
      - name: Deploy em Homolog (Oracle VPS)
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.DEPLOY_HOST_HOMOL }}
          username: ${{ secrets.DEPLOY_USER_HOMOL }}
          key: ${{ secrets.DEPLOY_KEY_HOMOL }}
          script: |
            chmod +x ~/subir_api.sh
            ~/subir_api.sh
